html, body {
  margin: 30;
  padding: 30;
}

body {
	background-color: Seashell;	
}

body::before {
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 50%;
  background-color: #f5f5f5;
}
::before, ::after {
  position: absolute;
  content: "";
}
.table1 {
    border-collapse: collapse;
	text-align: center;
	color: darkblue;
	width: 70%;
    height: 100px;
    }
.table1 th {
	border-collapse: collapse;
	text-align: center;
	padding-right: 200px;
}

.table2 {
    border-collapse: collapse;
	text-align: center;
	    }
	
.table2 th{
	padding: 20px;
    padding-left: 100px;
	padding-right: 100px;
    border: 1px solid black;
    color: brown;
    background-color: PeachPuff;
}
.table2 td {
    padding: 20px;
    padding-left: 100px;
	padding-right: 100px;;
    border: 1px solid black;
    color: brown;
    background-color: BlanchedAlmond;
}

.table2 caption {
    margin-bottom: 10px;
    font-size: 30px;
	color: darkblue;
}

.cup:hover
{
 background-color: MediumSeaGreen; 
}